@{
    var data = AOE.Web.Controllers.HomeController.GetData(ViewContext.HttpContext.Request, "content");
}
    @*<section id="main-container" class="portfolio-static">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 portfolio-static-item">
                    <div class="grid">
                        <figure class="effect-oscar">
                            <img src="~/images/csvc/1.jpg" alt="">
                            <figcaption>
                                <a class="link icon-pentagon" href="portfolio-item.html"><i class="fa fa-link"></i></a>
                                <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/images/csvc/1.jpg"><i class="fa fa-search"></i></a>
                            </figcaption>
                        </figure>
                    </div><!--/ grid end -->
                </div><!--/ item 1 end -->
                <div class="col-sm-3 portfolio-static-item">
                    <div class="grid">
                        <figure class="effect-oscar">
                            <img src="~/images/csvc/2.jpg" alt="">
                            <figcaption>
                                <a class="link icon-pentagon" href="portfolio-item.html"><i class="fa fa-link"></i></a>
                                <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/images/csvc/2.jpg"><i class="fa fa-search"></i></a>
                            </figcaption>
                        </figure>
                    </div><!--/ grid end -->
                </div><!--/ item 1 end -->
                <div class="col-sm-3 portfolio-static-item">
                    <div class="grid">
                        <figure class="effect-oscar">
                            <img src="~/images/csvc/3.jpg" alt="">
                            <figcaption>
                                <a class="link icon-pentagon" href="portfolio-item.html"><i class="fa fa-link"></i></a>
                                <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/images/csvc/3.jpg"><i class="fa fa-search"></i></a>
                            </figcaption>
                        </figure>
                    </div><!--/ grid end -->
                </div><!--/ item 1 end -->
                <div class="col-sm-3 portfolio-static-item">
                    <div class="grid">
                        <figure class="effect-oscar">
                            <img src="~/images/csvc/4.jpg" alt="">
                            <figcaption>
                                <a class="link icon-pentagon" href="portfolio-item.html"><i class="fa fa-link"></i></a>
                                <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/images/csvc/4.jpg"><i class="fa fa-search"></i></a>
                            </figcaption>
                        </figure>
                    </div><!--/ grid end -->
                </div><!--/ item 1 end -->
                <div class="col-sm-3 portfolio-static-item">
                    <div class="grid">
                        <figure class="effect-oscar">
                            <img src="~/images/csvc/5.jpg" alt="">
                            <figcaption>
                                <a class="link icon-pentagon" href="portfolio-item.html"><i class="fa fa-link"></i></a>
                                <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/images/csvc/5.jpg"><i class="fa fa-search"></i></a>
                            </figcaption>
                        </figure>
                    </div><!--/ grid end -->
                </div><!--/ item 1 end -->
                <div class="col-sm-3 portfolio-static-item">
                    <div class="grid">
                        <figure class="effect-oscar">
                            <img src="~/images/csvc/6.jpg" alt="">
                            <figcaption>
                                <a class="link icon-pentagon" href="portfolio-item.html"><i class="fa fa-link"></i></a>
                                <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/images/csvc/6.jpg"><i class="fa fa-search"></i></a>
                            </figcaption>
                        </figure>
                    </div><!--/ grid end -->
                </div><!--/ item 1 end -->

            </div><!-- Content row end -->
        </div><!-- Container end -->
    </section>*@
<section id="service" class="service angle">
    <div class="container">
        <div class="row">
            <div class="col-md-12 heading text-center">
                <h2 class="title2">
                    <span class="title-desc">
                    </span>
                </h2>
            </div>
        </div> <!-- Title row end -->
        <div class="row">
            <div class="col-sm-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img src="~/images/csvc/2.jpg" alt="">
                        <figcaption>
                            <a class="link icon-pentagon" href="portfolio-item.html"><i class="fa fa-link"></i></a>
                            <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/images/csvc/2.jpg"><i class="fa fa-search"></i></a>
                        </figcaption>
                    </figure>
                </div><!--/ grid end -->
            </div><!--/ item 1 end -->
            <div class="col-sm-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img src="~/images/csvc/3.jpg" alt="">
                        <figcaption>
                            <a class="link icon-pentagon" href="portfolio-item.html"><i class="fa fa-link"></i></a>
                            <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/images/csvc/3.jpg"><i class="fa fa-search"></i></a>
                        </figcaption>
                    </figure>
                </div><!--/ grid end -->
            </div><!--/ item 1 end -->
            <div class="col-sm-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img src="~/images/csvc/4.jpg" alt="">
                        <figcaption>
                            <a class="link icon-pentagon" href="portfolio-item.html"><i class="fa fa-link"></i></a>
                            <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/images/csvc/4.jpg"><i class="fa fa-search"></i></a>
                        </figcaption>
                    </figure>
                </div><!--/ grid end -->
            </div><!--/ item 1 end -->
            <div class="col-sm-3 portfolio-static-item">
                <div class="grid">
                    <figure class="effect-oscar">
                        <img src="~/images/csvc/5.jpg" alt="">
                        <figcaption>
                            <a class="link icon-pentagon" href="portfolio-item.html"><i class="fa fa-link"></i></a>
                            <a class="view icon-pentagon" data-rel="prettyPhoto" href="~/images/csvc/5.jpg"><i class="fa fa-search"></i></a>
                        </figcaption>
                    </figure>
                </div><!--/ grid end -->
            </div><!--/ item 1 end -->

        </div>
    </div><!--/ Container end -->
</section><!--/ Service box end -->
<section id="portfolio" class="portfolio portfolio-box">
    <div class="container">
        <div class="row">
            <div class="col-md-12 heading text-center">
                <h2 class="title2">
                    PRODUCT AND SERVICES
                    <span class="title-desc">
                        Product orientation according to customer needs
                    </span>
                </h2>
            </div>
        </div> <!-- Title row end -->
        <!--Isotope filter start -->
        <div class="row text-center">
            <div class="isotope-nav" data-isotope-nav="isotope">
                <ul>
                    <li><a href="#" data-filter=".cabin">Cabin Interiors</a></li>
                    <li><a href="#" data-filter=".eq">Ground Support Equipment</a></li>
                </ul>
            </div>
        </div><!-- Isotope filter end -->

        <div class="row">
            <div id="isotope" class="isotope">
                <div class="col-sm-3 cabin isotope-item">
                    <div class="grid">
                        <figure class="effect-oscar">
                            <img src="/images/product/cabin1.jpg" alt="">
                            <figcaption>
                                
                                <a class="view icon-pentagon" data-rel="prettyPhoto" href="/images/product/cabin1.jpg"><i class="fa fa-search"></i></a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-sm-3 cabin isotope-item">
                    <div class="grid">
                        <figure class="effect-oscar">
                            <img src="/images/product/cabin2.jpg" alt="">
                            <figcaption>
                                
                                <a class="view icon-pentagon" data-rel="prettyPhoto" href="/images/product/cabin2.jpg"><i class="fa fa-search"></i></a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-sm-3 cabin isotope-item">
                    <div class="grid">
                        <figure class="effect-oscar">
                            <img src="/images/product/cabin3.jpg" alt="">
                            <figcaption>
                                
                                <a class="view icon-pentagon" data-rel="prettyPhoto" href="/images/product/cabin3.jpg"><i class="fa fa-search"></i></a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-sm-3 cabin isotope-item">
                    <div class="grid">
                        <figure class="effect-oscar">
                            <img src="/images/product/cabin4.jpg" alt="">
                            <figcaption>
                                
                                <a class="view icon-pentagon" data-rel="prettyPhoto" href="/images/product/cabin4.jpg"><i class="fa fa-search"></i></a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-sm-3 eq isotope-item">
                    <div class="grid">
                        <figure class="effect-oscar">
                            <img src="/images/product/eq1.jpg" alt="">
                            <figcaption>
                                
                                <a class="view icon-pentagon" data-rel="prettyPhoto" href="/images/product/eq1.jpg"><i class="fa fa-search"></i></a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-sm-3 eq isotope-item">
                    <div class="grid">
                        <figure class="effect-oscar">
                            <img src="/images/product/eq2.jpg" alt="">
                            <figcaption>
                                
                                <a class="view icon-pentagon" data-rel="prettyPhoto" href="/images/product/eq2.jpg"><i class="fa fa-search"></i></a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-sm-3 eq isotope-item">
                    <div class="grid">
                        <figure class="effect-oscar">
                            <img src="/images/product/eq3.jpg" alt="">
                            <figcaption>
                                
                                <a class="view icon-pentagon" data-rel="prettyPhoto" href="/images/product/eq3.jpg"><i class="fa fa-search"></i></a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-sm-3 eq isotope-item">
                    <div class="grid">
                        <figure class="effect-oscar">
                            <img src="/images/product/eq4.jpg" alt="">
                            <figcaption>
                                
                                <a class="view icon-pentagon" data-rel="prettyPhoto" href="/images/product/eq4.jpg"><i class="fa fa-search"></i></a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div><!-- Isotope content end -->
        </div><!-- Content row end -->
    </div><!-- Container end -->
</section>
<section id="image-block" class="image-block no-padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 ts-padding" style="height:650px;background:url(/images/image-block-bg.jpg) 50% 50% / cover no-repeat;">
            </div>
            <div class="col-md-6 ts-padding img-block-right">
                <div class="img-block-head text-center">
                    <h2>@data.chooseUs.title0</h2>
                    <h3>@data.chooseUs.title</h3>
                    <p>
                        @data.chooseUs.title1
                    </p>
                </div>

                <div class="gap-30"></div>
                @foreach (var item in data.chooseUs.services)
                {
                    <div class="image-block-content">
                        <span class="feature-icon pull-left"><i class="@item.icon"></i></span>
                        <div class="feature-content">
                            <h3>@item.title</h3>
                            <p>&nbsp; @item.title1</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section><!--/ Image block end -->
<!-- Team start -->
<!-- Parallax 1 start -->
@*<section class="parallax parallax1">
        <div class="parallax-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>Are You Ready to Buy This Template!</h2>
                    <h3>Just Click Button and Use Your Own</h3>
                    <p>
                        <a href="#" class="btn btn-primary white">Purchase Now</a>
                        <a href="#" class="btn btn-primary solid">Get In Touch</a>
                    </p>
                </div>
            </div>
        </div><!-- Container end -->
    </section><!-- Parallax 1 end -->*@
<!-- Pricing table start -->

@*<section id="team" class="team">
    <div class="container">
        <div class="row">
            <div class="col-md-12 heading">
                <span class="title-icon pull-left"><i class="fa fa-weixin"></i></span>
                <h2 class="title">@data.meetTeam.title <span class="title-desc">@data.meetTeam.title1</span></h2>
            </div>
        </div><!-- Title row end -->

        <div class="row text-center">
            @foreach (var item in data.meetTeam.persons)
            {
                <div class="col-md-3 col-sm-6">
                    <div class="team wow slideInLeft">
                        <div class="img-hexagon">
                            <img src="@item.img" alt="">
                            <span class="img-top"></span>
                            <span class="img-bottom"></span>
                        </div>
                        <div class="team-content">
                            <h3>@item.name</h3>
                            <p>@item.title</p>
                           
                        </div>
                    </div>
                </div>
            }
        </div><!--/ Content row end -->
    </div><!--/ Container end -->
</section><!--/ Team end -->*@
<!-- Testimonial start-->
<section class="testimonial parallax parallax2">
    <div class="parallax-overlay"></div>
    <div class="container">
        <div class="row">
            <div id="testimonial-carousel" class="owl-carousel owl-theme text-center testimonial-slide">
                @foreach (var item in data.theyTalked)
                {
                    <div class="item">
                        @*<div class="testimonial-thumb">
                            <img src="@item.img" alt="testimonial">
                        </div>*@
                        <div class="testimonial-content">
                            <p class="testimonial-text">
                                @item.text
                            </p>
                            <h3 class="name">@item.name<span>@item.title</span></h3>
                        </div>
                    </div>
                }
            </div><!--/ Testimonial carousel end-->
        </div><!--/ Row end-->
    </div><!--/  Container end-->
</section><!--/ Testimonial end-->
<!-- Clients start -->
<section id="clients" class="clients">
    <div class="container">
        <div class="row wow fadeInLeft">
            <div id="client-carousel" class="col-sm-12 owl-carousel owl-theme text-center client-carousel">
                @foreach (var item in data.clients)
                {
                    <figure class="item client_logo">
                        <a href="#">
                            <img src="@item.img" alt="client" style="height: 40px;">
                        </a>
                    </figure>
                }
            </div><!-- Owl carousel end -->
        </div><!-- Main row end -->
    </div><!--/ Container end -->
</section><!--/ Clients end -->
<!-- Footer start -->
